blinker
certifi
charset-normalizer
click
cloudinary
cmake
colorama
dlib
dnspython
email_validator
Flask
idna
itsdangerous
Jinja2
MarkupSafe
numpy
opencv-contrib-python
pillow
python-dotenv
requests
setuptools
six
urllib3
Werkzeug
wheel
